<ng-container *ngIf="!loading, else spinner">
  <h1>Messages</h1>
  <br>

  <div *ngFor="let message of messages, let i = index">
    <mat-card>
      <mat-card-subtitle>{{ message.datetime }}</mat-card-subtitle>
      <mat-card-title># {{ i+1 }} {{ message.author }}</mat-card-title>
      <mat-card-content>
        <p>{{ message.message }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <br>

</ng-container>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
