<mat-card>
  <form
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    fxLayout="column">

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <label>
        <input name="author" required matInput ngModel/>
      </label>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        name="message"
        ngModel
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        required
      ></textarea>
    </mat-form-field>

    <div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >SEND</button>
    </div>
  </form>
</mat-card>
